<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.ofcourse.mapper.StackMapper">
    <select id="countStacks" resultType="int">
        SELECT COUNT(*) FROM Stack
    </select>

    <select id="getAllStacks" resultType="com.project.ofcourse.dto.stack.StackDTO">
        SELECT
            id,
            logo,
            name,
            described,
            assort
        FROM Stack
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectRelatedStackByStackId" resultType="com.project.ofcourse.dto.stack.RelatedStackDTO">
        SELECT
            rs.related_stack AS relatedStack,
            rs.related_stack_logo AS relatedStackLogo,
            rs.stack_name_id AS stackNameId
        FROM
            Related_Stack rs
            <if test="stackId != null and stackId.size() > 0">
                WHERE rs.stack_name_id IN
                <foreach item="id" collection="stackId" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="stackId == null or stackId.size() == 0">
                WHERE 1 = 0
            </if>
    </select>

    <!-- 카테고리 필터 쿼리 -->
    <select id="getStacksByAssort" resultType="com.project.ofcourse.dto.stack.StackDTO">
        SELECT
            id,
            logo,
            name,
            described,
            assort
        FROM Stack
        WHERE assort LIKE CONCAT('%', #{assort}, '%')
        ORDER BY id
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countStacksByAssort" resultType="int">
        SELECT COUNT(*)
        FROM Stack
        WHERE assort LIKE CONCAT('%', #{assort}, '%')
    </select>

    <!-- 스택 검색 쿼리 -->
    <select id="searchStack" resultType="com.project.ofcourse.dto.stack.StackDTO">
        SELECT
            id,
            logo,
            name,
            described,
            assort
        FROM Stack
        WHERE name LIKE CONCAT('%', #{search}, '%')
        ORDER BY id
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countSearchStack" resultType="int">
        SELECT COUNT(*)
        FROM Company
        WHERE name LIKE CONCAT('%',#{search},'%')
    </select>

    <!-- 검색어 자동완성 -->
    <select id="autoKeywordStack" resultType="String">
        SELECT name
        FROM Stack
        WHERE name LIKE CONCAT('%',#{keyword},'%')
        LIMIT 10
    </select>

    <!-- 해당 스택 기본 정보 가져오기 -->
    <select id="getStackInfoById" resultType="com.project.ofcourse.dto.stack.StackDTO">
        SELECT
            id, name, logo, assort, described
        FROM Stack
        WHERE id = #{id}
    </select>

    <!-- 해당 스택을 사용하는 회사 정보 가져오기 -->
    <select id="getCompaniesByStackId" resultType="com.project.ofcourse.dto.company.CompanyDTO">
        SELECT c.id, c.name, c.logo, cs.stack_id
        FROM Company c
            JOIN Company_Stack cs ON c.id = cs.company_id
        WHERE cs.stack_id = #{stackId}
    </select>

    <!-- 해당 스택의 베스트5 강의 가져오기 (랭크 순) -->
    <select id="getBestCourseByStackId" resultType="com.project.ofcourse.dto.course.CourseDTO">
        SELECT c.id, c.img_url AS imgUrl,
               c.url, c.title, c.teacher, c.score, c.price, cs.stack_id
        FROM Course c
            JOIN Course_Stack cs ON c.id = cs.course_id
        WHERE cs.stack_id = #{stackId}
        ORDER BY c.`rank`
        LIMIT 5
    </select>
</mapper>