<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ofcourse</title>
    <!-- fontawesome css cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- normalize css cdn-->
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <!-- global css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/list.js}"></script>
    <script type="text/javascript" th:src="@{/js/disabledbtn.js}"></script>
    <script type="text/javascript" th:src="@{/js/ready.js}"></script>

</head>

<body class="list-page">
<header>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>

<div class="title-area">
    <h2 class="page-title">강의 찾기</h2><br>
    <p class="detail-title">공부하고 싶은 기술스택의 강의를 찾아보세요🔎</p>
    <a class="detail-title" href="/course/filter">전체 강의 보기</a>
</div>

<div class="search-area">
    <form th:action="@{/course/search}" method="GET">
        <div class="search-bar">
            <input type="text" name="search" id="search-bar" placeholder="강의를 입력해주세요 !" th:value="${search}">
            <button type="submit" class="search-btn">검색</button>
        </div>
    </form>
</div>
<div class="content">
    <main class="list-area">
        <!-- 필터된 강의가 뜰때 -->
        <h3 class="search-result-area">
            검색하신
            <th:block>
                <span class="text-highlight" style="margin-right: .8rem;"># <span th:text="${search}"></span></span>
            </th:block>
            강의 정보입니다.
        </h3>
        <ul>
            <li th:each="course : ${pageResponse.data}" class="list-card">
                <a th:href="${course.url}" target="_blank">
                    <div class="img-box">
                        <img th:src="${course.imgUrl}" alt="강의 예시 이미지">
                    </div>
                </a>
                <div class="info-box">
                    <h3>
                        <a th:href="${course.url}"
                           th:text="${course.title.length() > 50 ? course.title.substring(0, 50) + '...' : course.title}"></a>
                    </h3>
                    <div class="keywords" th:each="stack : ${course.stackList}">
                        <span class="point" th:text="${stack.name}"></span>
                    </div>
                    <p class="level" th:text="'레벨 - ' + ${course.level}"></p>
                    <p class="teacher" th:text="${course.teacher}"></p>
                    <p class="rate" th:text="${course.score} + '(리뷰긍정도 : ' + ${course.sentiment} + ')'"></p>
                    <p class="recommend" th:text="'👍 ' + ${#numbers.formatInteger(course.recommend, 3,'COMMA')} + ' 개'"></p>
                    <p class="price" th:switch="${course.price}">
                        <!-- 가격이 null인 경우 -->
                        <span th:case="null">🔗</span>
                        <!-- 가격이 0인 경우 -->
                        <span th:case="0">무료</span>
                        <!-- 가격이 0보다 큰 경우 -->
                        <span th:case="*"
                              th:text="${#numbers.formatInteger(course.price, 3,'COMMA')} + ' 원'"></span>
                    </p>
                </div>
            </li>
        </ul>
    </main>
</div>

<!-- Pagination -->
<div class="pagination">
    <!-- 이전 버튼 -->
    <a th:if="${pageResponse.hasPreviousGroup}"
       th:href="@{/course/search(search=${search},page=${pageResponse.previousGroupStart})}"
       class="btn prev">
        <i class="fa-solid fa-angle-left"></i>
        <i class="fa-solid fa-angle-left"></i>
    </a>
    <a th:if="${!pageResponse.hasPreviousGroup}" class="btn prev disabled">
        <i class="fa-solid fa-angle-left"></i>
        <i class="fa-solid fa-angle-left"></i>
    </a>

    <!-- 페이지 번호 출력 -->
    <li th:each="page : ${pageResponse.pageRange}">
        <a class="btn"
           th:href="@{/course/search(search=${search},page=${page})}"
           th:classappend="${page == pageResponse.currentPage} ? 'on' : ''"
           th:text="${page}">
        </a>
    </li>

    <!-- 다음 버튼 -->
    <a th:if="${pageResponse.hasNextGroup}"
       th:href="@{/course/search(search=${search},page=${pageResponse.nextGroupStart})}"
       class="btn next">
        <i class="fa-solid fa-angle-right"></i>
        <i class="fa-solid fa-angle-right"></i>
    </a>
    <a th:if="${!pageResponse.hasNextGroup}" class="btn next disabled">
        <i class="fa-solid fa-angle-right"></i>
        <i class="fa-solid fa-angle-right"></i>
    </a>
</div>

<footer>
    <p>
        Copyright © 2023. Kokonenne All Rights Reserved.
    </p>
</footer>
</body>

<script th:src="@{/js/index.js}"></script>
</html>