<!-- fragments/navbar.html -->
<div th:fragment="navbar" xmlns:th="http://www.thymeleaf.org" class="container" id="header" >
  <a href="/" style="text-decoration: none;">
    <h1>Of Course</h1>
  </a>
  <nav>
    <ul>
      <li><a th:href="@{/company}">기업별 기술스택</a></li>
      <li><a th:href="@{/stack}">기술스택별 정보</a></li>
      <li><a th:href="@{/course}">강의 찾기</a></li>
      <img th:src="@{/img/springboot.png}" alt="스프링부트" style="width: 70px; height: 30px; vertical-align: middle; margin-left: 200px">
    </ul>

    <div class="btn-wrap">
      <a href="#" class="btn" onclick="alert('준비중입니다')">로그인</a>
    </div>
  </nav>
</div>




