<!-- fragments/navbar.html -->
<div th:fragment="navbar" xmlns:th="http://www.thymeleaf.org" class="container" id="header" >
  <a href="/" style="text-decoration: none;">
    <h1>Of Course</h1>
  </a>
  <nav>
    <ul>
      <li data-path="/company"><a th:href="@{/company}">기업별 기술스택</a></li>
      <li data-path="/stack"><a th:href="@{/stack}">기술스택별 정보</a></li>
      <li data-path="/course"><a th:href="@{/course/filter}">강의 찾기</a></li>
      <img th:src="@{/img/springboot.png}" alt="스프링부트" style="width: 70px; height: 30px; vertical-align: middle; margin-left: 200px">
    </ul>

    <!-- 로그인 상태 확인 -->
    <div th:if="${#authorization.expression('isAuthenticated')}" class="auth-section">
      <!-- 아이디 부분 -->
      <a class="id-message" th:text="${#authentication.name}" th:href="@{/auth/edit-profile}"></a>
      <!-- '님 환영합니다!' 부분 -->
      <span class="welcome-message">님 환영합니다!</span>
      <a th:href="@{/logout}" class="logout-btn">로그아웃</a>
    </div>

    <!-- 비로그인 상태 -->
    <div class="btn-wrap" th:unless="${#authorization.expression('isAuthenticated()')}">
      <a th:href="@{/auth/login}" class="btn">로그인</a>
    </div>
  </nav>
</div>




